
#navbar_container {
    height: 57px;
}

.navbar {
    width: 100%;
    background: rgb(22, 31, 41);
}

.fixed {
    width: 100%;
    top: 0;
    bottom: inherit;
    left: 0;
    position: fixed;
    background: rgb(22, 31, 41);
}

.navbar_ul {
    margin: 0;
    margin-left: 5%;
    padding: 0;
    list-style-type: none;
    transition: margin 0.3s;
}

.navbar_ul li {
    margin-right: 0.1em;
    display: inline-block;
    line-height: 4em;
}

.tab {
    padding: 0.5em 1em;
    line-height: 1em;
    font-size: 1.3em;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.05em;
    transition: color 0.3s;
    &:hover {
        color: #008f11;
    }
}

.active {
    color: #008f11;
}

@media(max-width: 570px) {
    .navbar ul {
        margin: 0;
    }
}