
#matrix_section {
    width: 100%;
    height: 100vh;
}

#matrix_canvas {
    background: #0d0208;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    margin-bottom: 15vh;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    margin-bottom: 0.5em;
    text-align: center;
    color: #ffffff;
    font-size: 3.75em;
    font-weight: 600;
}

.highlight {
    color: #008f11;
}

.view_work_link {
    padding: 0.5em 1.25em;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 600;
    border: 3px solid #ffffff;
    border-radius: 2px;
}

@media(max-width: 1000px) {
    .text {
        font-size: 2em;
    }
}