// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');

// Variables
@import 'variables';

// Components
@import 'matrix';
@import 'navbar';
@import 'about';
@import 'portfolio';
@import 'svg';
@import 'contact';
@import 'footer';
@import 'modals';

// General

* {
    box-sizing: border-box;
}

body {
    background: $body-bg;
    font-family: 'Raleway';
    font-size: $font-size-base;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
    overflow: hidden;
}

.section_header {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.75em;
}

.section_header_underline {
    margin: 10px auto 5em auto;
    background: #283237;
    height: 4px;
    width: 80px;
}
