<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Joe Dineen</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    <body>
        <div id="main">
            <div id="app"></div>
        </div>
        <script src="{% static "frontend/main.js" %}"></script>
        <script src="{% static "js/modal.js" %}"></script>
        {% csrf_token %}
        <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        </script>
    </body>
</html>